<h1>以下の買い手の登録が完了しました。</h1>
<h2>＜名前＞</h2><h3><%= @candidate_buyer.name %></h3>
<h2>＜住所＞</h2><h3><%= @candidate_buyer.address %></h3>
<h2>＜コメント＞</h2><h3><%= @candidate_buyer.hearing %></h3>
<h1>物件情報</h1>
<h2>＜希望買取価格＞</h2><h3><%= @candidate_buyer.offer.price %></h3>
<h2>＜取引日＞</h2><h3><%= @candidate_buyer.offer.transacted_on %></h3>