<%= form_with model: Property.new do |form| %>
  <div >
    <%= form.label '築年数' %>
    <%= form.text_field :age %>
  </div>
  <div >
    <%= form.label '都道府県' %>
    <%= form.select :prefecture,  @prefectures_list %>
  </div>
  <div >
    <%= form.label '都市' %>
    <%= form.text_field :city %>
  </div>
  <div >
    <%= form.label '駅' %>
    <%= form.text_field :station %>
  </div>
  <div >
    <%= form.label '間取り' %>
    <%= form.text_field :floor_plan %>
  </div>
  <div >
    <%= form.label '平米数' %>
    <%= form.text_field :square_measure %>
  </div>
  <div >
    <%= form.label '住居形態' %>
    <%= form.select :construction_type, [["一軒家", 0],["マンション", 1],["アパート", 2]] %>
  </div>
  <div >
    <%= form.label '材質' %>
    <%= form.select :material_type , [["木造", 0],["鉄筋", 1]]%>
  </div>
  <%= form.submit %>
<% end %>