<%= form_with model: Property.new do |form| %>
  <div >
    <%= form.label '築年数' %>
    <%= form.text_field :age %>
  </div>
  <div >
    <%= form.label '都道府県' %>
    <%= form.select :prefecture,  @prefectures_list %>
  </div>
  <div >
    <%= form.label '都市' %>
    <%= form.text_field :city %>
  </div>
  <div >
    <%= form.label '駅' %>
    <%= form.text_field :station %>
  </div>
  
  <%= form.submit %>
<% end %>