<%= javascript_pack_tag 'property/new' %>

<%= form_with model: Property.new , local: true do |form| %>
  <div >
    <%= form.label '都道府県' %>
    <%= form.select :prefecture,  @prefectures_list,id: 'prefecture' %>
  </div>
  <div id="city_select">
    <%= form.label '都市' %>
    <%= form.select :city ,[[]] ,id: 'city' %>
  </div>
  <div >
    <%= form.label '駅' %>
    <%= form.text_field :station %>
  </div>
  <div>
    <%= form.label '築年数' %>
    <%= form.number_field :year %>
  </div>

  <div>
    <%= form.label '物件種別' %>
    <%= form.select :kinds, {'鉄筋': 1, '強鉄筋': 2, '木造': 3}, { include_blank: '選択してください'} %>
  </div>

  <%= form.submit "登録", data: { disable_with: 'Submitting...' } %>

<% end %>