<%= javascript_pack_tag 'property/new' %>

<%= form_with model: Property.new , local: true do |form| %>
  <div class="form-template">
    <div class="form-goup">
      <%= form.label '都道府県', class:"form-label" %>
      <%= form.select :prefecture,  @prefectures_list, {}, {id: 'prefecture', class:'form-select'} %>
    </div>
    <div id="city_select" class="form-goup">
      <%= form.label '都市', class:"form-label" %>
      <%= form.select :city ,[[]] , {}, {id: 'city', class:'form-select'} %>
    </div>
    <div class="form-goup">
      <%= form.label '駅', class:"form-label" %>
      <%= form.text_field :station, class:'form-control' %>
    </div>
    <div class="form-goup">
      <%= form.label '築年数', class:"form-label" %>
      <%= form.number_field :year, class:'form-control' %>
    </div>
    <div class="form-goup">
      <%= form.label '物件種別', class:"form-label" %>
      <%= form.select :kinds, {'鉄筋': 1, '強鉄筋': 2, '木造': 3}, { include_blank: '選択してください'}, class:'form-control' %>
    </div>
  </div>
  <%= form.submit "登録", data: { disable_with: 'Submitting...', class: 'btn btn-primary' } %>
<% end %>