<%= javascript_pack_tag 'property/new' %>
<%= form_with model: @property , local: true do |form| %>
<div class="form-template property-form">
  <div class="float-two">
    <div class="form-group float-item me-2">
      <%= form.label '都道府県', class:"form-label" %>
      <%= form.select :prefecture,  @prefectures_list, {}, {id: 'property_prefecture', class:'form-select'} %>
    </div>
    <div id="city_select" class="form-group float-item ms-2">
      <%= form.label '都市', class:"form-label" %>
      <%= form.select :city ,[[]] , {}, {id: 'property_city', class:'form-select'} %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label '所在地', class:"form-label" %>
    <%= form.label '(六本木3-2-1など)', class:"form-label fw-light" %>
    <%= form.text_field :address, class:'form-control' %>
  </div>

  <div class="float-two mt-5">
    <div class="form-group float-item me-2">
      <%= form.label '築年数', class:"form-label" %>
      <%= form.number_field :age, class:'form-control' %>
    </div>

    <div class="form-group float-item ms-2">
      <%= form.label '物件種別', class:"form-label" %>
      <%= form.select :floor_plan, {'一戸建て': 1, '土地': 2, 'マンション': 3, '倉庫・工場': 4}, { include_blank: '選択してください'}, class:'form-select' %>
    </div>
  </div>
  <div class="form-groups">
    <%= form.label '建物面積', class:"form-label" %>
    <%= form.label '(平方メートル)', class:"form-label fw-light" %>
    <%= form.number_field :square_measure, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label '間取り ', class:"form-label" %>
    <%= form.label '(1LDKなど)', class:"form-label fw-light" %>
    <%= form.text_field :kinds, class:'form-control' %>
  </div>
</div>
<div class="submit-button">
  <%= form.submit "類似物件を表示（無料）", data: { disable_with: 'Submitting...' }, class: 'btn-lg btn-primary mt-5 submit-button' %>
</div>

<% end %>