<div class='title'>
  <h2>類似物件</h2>
</div>
<div class="set-right-url">
  <%= link_to "査定に戻る", new_property_path ,data: {"turbolinks" => false}%>
</div>
<% if @nearly.present? %>
  <% cnt = 0 %>
  <table class='table-set'>
    <tr>
      <th>都道府県</th>
      <th>市区町村</th>
      <th>地区名</th>
      <th>種類
      <th>取引価格(円)</th>
      <th>間取り</th>
      <th>面積(m<sup>2</sup>)</th>
      <th>建築年</th>
      <th>今後の利用目的</th>
      <th>用途</th>
      </tr>
    <% @nearly.each_with_index do |nearly_property, i| %>
        <% if i == (@nearly_cnt-1) %>
            <h3>申し訳ありません。類似物件データがありません。</h3>
          <% end %>
        <% next if !@type.include?(nearly_property["Type"]) %>
        <% cnt += 1 %>
        <tr>
          <td><%= nearly_property["Prefecture"] %></td>
          <td><%= nearly_property["DistrictName"] %></td>
          <td><%= nearly_property["Municipality"] %></td>
          <td><%= nearly_property["Type"] %></td>
          <td><%= nearly_property["TradePrice"] %></td>
          <td><%= nearly_property["FloorPlan"] %></td>
          <td><%= nearly_property["Area"] %></td>
          <td><%= nearly_property["BuildingYear"] %></td>
          <td><%= nearly_property["Purpose"] %></td>
          <td><%= nearly_property["Use"] %></td>
        </tr>
        <%= i %>
        <% break if cnt == 5 %>
    <% end %>
  </table>
<% else %>
   <h3>申し訳ありません。類似物件データがありません。</h3>
   <%= link_to "査定に戻る", new_property_path %>
<% end %>
<div class='set-center'>
  <%= link_to "サービスに登録する", new_user_registration_path(property_id: @property.id), class: 'btn btn-primary' %>
</div>