<% @users.each do |u| %>
	<% if u.all_completed? %>
		<h3>
		<%= u.name %> さん | <%= u.status %> | 最終ステータスです 
		</h3>
		<br/>
	<% else %>
		<h3>
		<%= u.name %> さん | <%= u.status %> 
		</h3>
		<%= button_to "ステータスを次に進める", admin_user_path(id: u.id), data: { confirm: "進めるけど本当にok?" }, method: :put %>
	<% end %>
<% end %>
<%= link_to 'ホーム' ,admin_root_path, method: :get %>